.table-body {
  max-height: 400px;
  overflow-y: auto;
}

.table thead th {
  background: rgba(244, 244, 244, 1);
  color: rgb(0, 0, 0) !important;
}

.edit-btn {
  background-color: rgba(255, 193, 7, 1) !important;
  border-radius: 9.24px;
  width: 64px;
  height: 21.33px;
  padding: 0px;
}