<div class="container py-4">
  <div class="card dashboard-card d-flex flex-row align-items-center justify-content-between p-4 shadow">
    <div>
      <h5><strong>WELCOME, {{userData?.firstName}} {{userData?.lastName}}</strong></h5>
      <div class="mt-3">
        <p class="mb-1"><strong>Name</strong> : {{userData?.firstName}}</p>
        <p class="mb-1"><strong>E-mail</strong> : {{ userData?.email }}</p>
      </div>
    </div>

    <div class="position-relative">
      <img src="assets/username.svg" alt="User" class="rounded-circle user-profile-img">
    </div>
  </div>
</div>
