.remember-me-checkbox {
    width: 18px;
    height: 18px;
}

.custom-card {
    position: absolute;
    left: 425px;
    width: 570.69px;
    height: 413px;
    background-color: #ffffff;
    border: 1.11px solid #ddd;
    border-radius: 24.39px;
    padding: 2rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.text-link{
    color: #020202;
    text-decoration: none;
}
.btn-submit{
    border-radius: 19.95px;
    width: 210.63px;
    height: 55.43px;
    text-align: center;
}