.table-body {
    max-height: 400px;
    overflow-y: auto;
}
.table thead th {
  background: rgba(244, 244, 244, 1);
  color: rgb(0, 0, 0) !important;
}

.expand-less-more{
    color: #000;
    font-weight: 400;
    font-size: 14px;
}