<div class="relative w-full justify-content-between align-items-center mt-4 px-4 py-2 header-bar shadow-sm"
    [ngStyle]="{ 'border-radius': '30px' }">


    <div class="mb-4 mt-4">
        <input type="search" class="form-control" placeholder="Search..." [formControl]="searchText" />
    </div>

    <div class="table-body table-responsive">
        <table class="table">
            <thead class="bg-dark text-white">
                <tr>
                    <th *ngFor="let col of columns" (click)="col.field === 'price' && sortByPrice()" class="cursor-pointer">

                        <span *ngIf="col.field === 'price'" class="d-inline-flex align-items-center gap-1">
                            {{ col.header }}
                            <ng-container>
                                <i *ngIf="priceSortOrder === 'asc'" class="bi bi-sort-down-alt"></i>
                                <i *ngIf="priceSortOrder === 'desc'" class="bi bi-sort-up"></i>
                                <i *ngIf="priceSortOrder === null" class="bi bi-arrow-down-up"></i>
                            </ng-container>
                        </span>

                        <span *ngIf="col.field !== 'price'">
                            {{ col.header }}
                        </span>

                    </th>
                </tr>

            </thead>
            <tbody *ngIf="filteredProducts?.length > 0">
                <tr *ngFor="let product of filteredProducts">
                    <td>
                        {{ product?.id }}
                    </td>
                    <td>
                        {{ product?.title }}
                    </td>
                    <td>
                        <span>
                            {{ isExpanded ? product.description : (product.description | slice:0:50) + '...' }}
                        </span>
                        <a class="expand-less-more" href="#" (click)="toggleExpand($event)">
                            {{ isExpanded ? 'View Less' : 'View More' }}
                        </a>
                    </td>

                    <td>
                        {{ product?.category }}
                    </td>
                    <td>
                        ${{ product?.price }}
                    </td>
                    <td>
                        <div class="d-flex gap-2 flex-wrap">
                            <img *ngFor="let img of product?.images" [src]="img" alt="{{ product?.title }}" width="50"
                                height="50">
                        </div>
                    </td>

                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="10" class="text-center" *ngIf="filteredProducts?.length === 0">
                        No products found.
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>