.table-body {
    max-height: 400px;
    overflow-y: auto;
}

thead.custom-thead {
    background-color: black;
    color: #000;
}
.expand-less-more{
    color: #000;
    font-weight: 400;
    font-size: 14px;
}