.bg-lightblue {
  background-color: #def3fc;
}

.icon-circle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.modal-content {
  max-width: 400.96px;
  height: auto;
  margin: auto;
}

.btn-logout {
  background-color: rgba(25, 133, 181, 1);
  border-radius: 24.21px;
  color: white;
  width: 140px;
  height: 43px;
}

.logo-img{
  height: 70px;
  width: 70px;
}